@tailwind base;
@tailwind components;
@tailwind utilities;


#cardPhoto {
    width: 250px;
    height: 190px;
}
.card{
    width: 150px;
}
#map{
    width: 311px;
    height: 175px;
}
#logo{
    width: 28px;
    height: 28px;
}

@media screen and (min-width: 600px) {
    #cardPhoto {
        width: 325px;
        height: 300px;
    }
    .card{
        width: 16rem;
    }
    #map{
        width: 500px;
        height: 281px;
    }
    #logo{
        width: 56px;
        height: 56px;
    }
}